<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WPFZooManager.Properties.Settings.Sean_FirstDatabaseConnectionString"
            connectionString="Data Source=DESKTOP-4U8QC4J;Initial Catalog=Sean_FirstDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>